#!/usr/bin/make -f

export JAVA_HOME=/usr/lib/jvm/default-java
export DEB_BUILD_HARDENING=1

VERSION=$(shell dpkg-parsechangelog | sed -rne 's,^Version: ([^-]+).*,\1,p')

override_dh_auto_clean:
	ant -f build.xml clean
	rm -f build.number
	rm -rf build doc
	rm -rf contrib/platform/build
	rm -f dist/platforms-sources.jar
	mh_clean
	dh_clean

override_dh_auto_build:
	ant -f build.xml -Dcflags_extra.native="" -Ddynlink.native=true -Dnomixedjar.native=true -Djni.md5="" jar contrib-jars
	ant -f build.xml javadoc

# install. using platform.jar is a silly idea in /usr/share/java/ as it's bound to collide
override_dh_auto_install:
	mh_installjar -plibjna-java -l --usj-name=jna pom-jna.xml build/jna.jar
	jh_installlibs -plibjna-java build/jna-platform.jar

override_dh_makeshlibs:
	# don't call dh_makeshlibs

override_dh_compress:
	dh_compress -X.java

binary: binary-arch binary-indep

%:
	dh $@ --with maven-repo-helper
